RA1_XML_DOM2/alumnos4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="estudiantes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="alumno" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="edad" type="xsd:integer"/>
            </xsd:sequence>
            <xsd:attribute name="exp" type="xsd:string" use="required"/>
            <xsd:attribute name="nombre" type="xsd:string" use="optional"/>
			<xsd:attribute name="edad" type="xsd:integer" use="optional"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
